:root {
  --col1: #afc8ad;
  --col2: #6cb4ee;
  --col3: #b99470;
  --col4: #00356b;
  --col5: #ffffff;
  --col6: #0c2340;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  ::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}

body {
  color: var(--font);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 6%;
  background-color: var(--col4);
  border-bottom: 2px solid #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar-logo a {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--col5);
  font-style: italic;
}

.navbar-logo a span {
  font-weight: normal;
  margin: auto 0 auto 10px;
}

.navbar-nav a {
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 10px;
  color: rgba(255, 255, 255, 0.6);
}

.navbar-nav a:hover,
.navbar-nav a.active {
  color: #fff;
}

.navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem solid var(--col5);
  transform: scaleX(0);
  transition: 0.5s linear;
}

.navbar-nav a:hover::after {
  transform: scaleX(0.7);
}

#date-time {
  font-family: oswald, sans-serif;
  font-weight: bold;
  font-style: italic;
  margin: auto;
  display: block;
  font-size: 1.4rem;
  color: var(--col5);
}

/* Hero Section Start */
#hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffff;
  position: relative;
  padding: 0 6% 4rem;
}

.hero-wrap {
  display: flex;
}

.hero-txt {
  padding: 1rem;
  width: 100%;
}

.hero-p {
  font-size: 4.6rem;
  width: 70%;
  font-weight: bold;
  font-style: italic;
  color: rgb(0, 0, 0);
}

.hero-span {
  color: var(--col4);
  text-shadow: 2px 3px #007bff;
}

.hero-cta {
  margin-top: 2rem;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  color: var(--col5);
  background-color: var(--col4);
  font-family: "Playfair Display", serif;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 3px rgb(116, 116, 116);
  margin-inline: 18px;
}

.hero-cta:hover {
  background: linear-gradient(90deg, #ff2f2f, #257ad6, #000000);
  background-size: 300% 300%;
  animation: gradientAnimation 1s infinite;
  transform: scale(1.1);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


#hero-img {
  position: absolute;
  bottom: 100px;
  right: 6%;
  height: 800px;
  width: 860px;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  z-index: 10;
  filter: drop-shadow(1px 1px 10px blue);
}

.fade-animation {
  opacity: 1;
}
/* Hero Section Ends */

/* About Section Start */
#about {
  padding: 4rem 5%;
  min-height: 100vh;
  width: 100%;
  background-color: #dedede;
  color: var(--col5);
}

.about-wrap {
  padding: 4rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  margin: 60px auto;
  max-width: 1100px;
  background-color: var(--col5);
  text-align: justify;
}

.abt-kanda {
  font-weight: bolder;
}

.abt-wrp-2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.abt-wrp-3 {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
}

.abt-wrp-4 span {
  color: #666;
  font-weight: lighter;
}

.inner-wrp-4 {
  display: block;
}

.sosmed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 26px;
}

.about-wrap p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #666;
}

.skills {
  margin-bottom: 30px;
}

.skills h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #007bff;
  text-align: center;
}

.skills ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills li {
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 30px;
  margin: 10px;
  transition: transform 0.3s, background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.skills li:hover {
  background: linear-gradient(90deg, #828282, #0056b3, #000000);
  background-size: 300% 300%;
  animation: gradientAnimation 5s infinite;
  transform: scale(1.05);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.skills li i {
  margin-right: 10px;
}

.experience,
.education,
.hobby,
.sosmed {
  margin-bottom: 30px;
}

.experience h3,
.education h3,
.hobby h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #007bff;
}

.abt-wrp-4 h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #007bff;
  padding-bottom: 10px;
  border-bottom: 2px solid #333;
}

.experience p,
.education p,
.hobby p {
  margin-bottom: 15px;
  color: #666;
  margin: 0;
  padding-left: 10px;
  border-left: 2px solid #333;
  text-align: justify;
}

.education h3,
.education p {
  margin-left: 20px;
}

.cta-2 {
  margin-top: 30px;
  display: flex;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  align-items: center;
  font-family: "Playfair Display", serif;
}

.cta-2:hover {
  background: linear-gradient(200deg, #ff2f2f, #257ad6, #000000);
  background-size: 200% 200%;
  animation: gradientAnimation 1s infinite;
  transform: translateY(-8px);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.fa-github,
.fa-instagram,
.fa-linkedin {
  font-size: 3rem;
  margin-right: 20px;
}

/* About Section Ends */

/* Projects Section Start */
#projects {
  padding: 4rem 6%;
  min-height: 100vh;
  width: 100%;
  background-color: #ffff;
  color: var(--col5);
}

.projects-wrap {
  max-width: 100%;
  margin: 0 6%;
  text-align: center;
}
.abt-me h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: var(--col4);
  text-shadow: 1px 1px 2px;
}
.projects-wrap h2,
#contact h2 {
  font-size: 3rem;
  margin: 50px 0;
  color: var(--col4);
  text-shadow: 1px 1px 2px;
  text-align: center;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.4rem;
}

.project-item {
  background-color: var(--col5);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 450px;
  height: 520px;
  text-align: left;
}

.inner-pi {
  padding: 1rem 1.4rem;
  text-align: justify;
}

.project-item img {
  width: 450px;
  height: 253.125px;
  border-radius: 0.5rem;
  padding: 0;
  margin: 0;
}

.project-item h3 {
  margin: 0;
  font-size: 1.8rem;
  color: var(--col4);
}

.project-item p {
  font-size: 1rem;
  color: var(--col6);
}

.cta {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.cta:hover {
  background-color: #007bffa2;
}
/* Projects Section Ends */

/* Resume Section Start */
#resume {
  display: none;
}

.resume-container {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resume-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.resume-section {
  margin-bottom: 20px;
}

.resume-section h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #333;
}

.resume-section ul {
  list-style-type: none;
  padding: 0;
}

.resume-section ul li {
  background: #e2e2e2;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.resume-job,
.resume-education {
  margin-bottom: 10px;
}

.resume-job h3,
.resume-education h3 {
  margin: 0;
  color: #333;
}

.date {
  font-style: italic;
  color: #777;
}

p {
  margin: 5px 0 15px 0;
}

.resume-job p,
.resume-education p {
  margin: 5px 0 0 0;
  padding-left: 10px;
  border-left: 2px solid #333;
}

/* Contact Section Start */
#contact {
  padding: 4rem 5%;
  min-height: 80vh;
  width: 100%;
  background-color: #dedede;
  color: var(--col5);
}

#my-form {
  background: #ffffff;
  padding: 60px 20px;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#my-form {
  display: flex;
  flex-direction: column;
}

#my-form input,
#my-form textarea {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#my-form input:focus,
#my-form textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#my-form button {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#my-form button:hover {
  background-color: #0056b3;
}

#my-form input::placeholder,
#my-form textarea::placeholder {
  color: #aaa;
  font-style: italic;
}

/* Add loading indicator style */
#my-form button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

#my-form .loading {
  display: none;
}

#my-form .loading.active {
  display: inline-block;
  margin-left: 10px;
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Contact Section End */

/* Scroll Btn and Footer Start */
#scrollButton {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 9999;
  width: 100px;
  height: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
  font-size: 50px;
  background-color: #007bff;
  color: white;
}

#scrollButton:hover {
  background-color: #007bff84;
  transform: translateY(-15px);
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.8rem;
  font-size: 1.1rem;
  color: #ffffff;
  background-color: var(--col4);
  border-top: 0.5px solid;
}

.popup,
.popup2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 54, 107, 0.6);
  z-index: 9999;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 2rem 3rem;
  text-align: center;
  border-radius: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

.popup h2 {
  margin-top: 10px;
  color: #000000;
  font-size: 3rem;
}

.popup p {
  margin: 1rem;
  text-align: left;
  color: #494848;
  font-size: 1.5rem;
}

.popup button {
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 1.4rem 0;
}

.popup button:hover {
  background-color: #666;
  color: #ffffffa2;
}

#author {
  text-decoration: underline;
  cursor: pointer;
  color: var(--col2);
}

#author:hover {
  color: #0471ca;
}

.profile img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 0;
}
/* Scroll Btn and Footer Ends */

/* Responsive adjustments */

@media (max-width: 450px)  {
  .navbar {
    display: none;
  }

  .navbar-phone {
    display: flex;
    padding: 1.6rem 6%;
    background-color: var(--col4);
    border-bottom: 1px solid var(--col6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    justify-content: space-between;
  }

  .navbar-logo-phone a {
    font-weight: 700;
    color: var(--col5);
    font-style: italic;
    text-decoration: none;
    font-size: 1.2rem;
  }

  .navbar-logo-phone span {
    color: var(--col5);
  }

  .navbar-nav-phone {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--col4);
    color: var(--col5);
    width: 10rem;
    max-height: 60vh;
    opacity: 90%;
    transition: 1s;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 1rem;
    font-size: 1.2rem;
  }

  .navbar-nav-phone a {
    color: var(--text);
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0.5rem;
  }

  .navbar-extra-phone {
    margin-top: 10px;
  }

  .navbar-extra-phone a {
    color: var(--col5);
  }

  .navbar-phone.show .navbar-nav-phone {
    right: 0;
  }

  .navbar-phone.show .navbar-extra-phone {
    display: none;
  }

  /* Hero Section Start */
#hero {
  padding: 1rem 6%;
  min-height: 100vh;
}

.hero-wrap {
  display: flex;
}

.hero-txt {
  padding: 0;
  width: 100%;
}

.hero-p {
  font-size: 2rem;
  width: 100%;
}

.hero-span {
  text-shadow: 1px 2px #007bff;
}

#hero-p-2 {
  font-size: 1rem;
  font-family: "Caveat", cursive;
  color: #828282;
  line-height: 1.3;
  font-weight: 100;
  width: 49%;
  margin-top: 1rem;
  text-shadow: 1px 1px 3px rgba(124, 124, 124, 0.543);
}

.hero-cta {
  margin-top: 10px;
  display: inline-block;
  padding: 0.6rem 1.2rem;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 3px rgb(116, 116, 116);
  margin-right: 0;
}

.hero-cta:hover {
  background: var(--col4);
  background-size: 100%;
  animation: none;
  transform: none;
}


#hero-image-container {
  display: none;
}

/* Hero Section Ends */

  /* ABOUT */
  #about {
    padding: 1rem 6%;
  }

  .about-wrap {
    padding: 0.8rem 1.6rem;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    margin: 40px auto;
    width: 100%;
    text-align: justify;
  }

  .about-wrap h2 {
    font-size: 1.6rem;
    margin-bottom: none;
    padding: none;
  }

  .abt-kanda {
    font-weight: bolder;
  }

  .abt-wrp-2 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .abt-wrp-3 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .abt-wrp-4 span {
    color: #666;
    font-weight: lighter;
  }

  .inner-wrp-4 {
    display: block;
  }

  .sosmed {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    gap: 0;
  }

  .about-wrap p {
    font-size: 0.8rem;
    line-height: 1.4;
    margin-bottom: 20px;
    color: #666;
  }

  .skills ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .skills li {
    background-color: #007bff;
    color: #fff;
    font-size: 0.8rem;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skills li:hover {
    transition: none;
    background: #007bff;
    transform: none;
  }

  .experience,
  .education,
  .hobby,
  .sosmed,
  .skills {
    margin-bottom: 20px;
  }

  .experience h3,
  .education h3,
  .hobby h3,
  .skills h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    margin-left: 0;
    text-align: left;
  }

  .abt-wrp-4 h3,
  .skills h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #007bff;
    padding-bottom: 10px;
    border-bottom: 2px solid #333;
  }

  .abt-wrp-4 span {
    display: none;
  }

  .experience p,
  .education p,
  .hobby p {
    margin-bottom: 15px;
    color: #666;
    margin: 0;
    padding-left: 10px;
    border-left: 2px solid #333;
    text-align: justify;
    font-size: 0.8rem;
  }

  .cta-2 {
    margin-top: 20px;
    padding: 1rem 2rem;
    font-size: 1.2rem;
  }

  .cta-2:hover {
    background: #007bff;
    background-size: 100%;
    animation: none;
    transform: none;
  }

  .fa-github,
  .fa-instagram,
  .fa-linkedin {
    font-size: 1.4rem;
    margin-right: 16px;
  }

  /* Projects Section Start */
#projects {
  padding: 1rem 6%;
}

.projects-wrap {
  width: 100%;
  margin: 0;
  text-align: center;
}

.projects-wrap h2 {
  font-size: 1.6rem;
  margin: 100px 0 30px;
}

.projects-grid {
  gap: 1rem;
  margin-bottom: 100px;
}

.project-item {
  background-color: var(--col5);
  border-radius: 0.5rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  text-align: left;
}

.inner-pi {
  padding: 1rem;
  text-align: justify;
}

.project-item img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  padding: 0;
  margin: 0;
}

.project-item h3 {
  margin-top: 0;
  font-size: 1.2rem;
  color: var(--col4);
}

.project-item p {
  font-size: 0.8rem;
  line-height: 1.4;
}

.cta {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  font-size: 0.8rem;
  transition: none;
}

.cta:hover {
  background-color: #007bff;
}
/* Projects Section Ends */

/* Contact Section Start */
#contact {
  padding: 1rem 6%;
  height: 80vh;
}

#contact h2 {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

#my-form {
  background: #ffffff;
  padding: 2rem;
  width: 100%;
  margin: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

#my-form {
  display: flex;
}

#my-form input,
#my-form textarea {
  margin-bottom: 10px;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 0.8rem;
  transition: none;
}

#my-form input:focus,
#my-form textarea:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#my-form button {
  padding: 0.5rem;
  font-size: 0.8rem;
  transition: none;
}

#my-form button:hover {
  background-color: normal;
}

#my-form input::placeholder,
#my-form textarea::placeholder {
  color: #aaa;
  font-style: italic;
}

/* Add loading indicator style */
#my-form button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

#my-form .loading {
  display: none;
}

#my-form .loading.active {
  display: inline-block;
  margin-left: 10px;
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Contact Section End */
}

@media (min-width: 451px) and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem 4%;
  }

  .navbar-nav a {
    margin: 5px 0;
  }

  .hero-txt {
    margin: 1rem 0 0 4%;
    padding: 1rem;
  }

  .hero-p {
    font-size: 2.8rem;
    width: 90%;
  }

  #hero-p-2 {
    width: 70%;
  }

  .abt-wrp-2,
  .abt-wrp-3 {
    grid-template-columns: 1fr;
  }

  .projects-grid {
    flex-direction: column;
    gap: 1rem;
  }

  .about-wrap,
  #my-form {
    padding: 2rem;
  }
}

@media (min-width: 769px) and (max-width: 1366px) {
  .hero-p {
    font-size: 3.6rem;
  }

  #hero-p-2 {
    width: 60%;
  }

  .hero-cta {
    font-size: 1.2rem;
  }

  .project-item {
    width: 100%;
  }

  .project-item img {
    width: 100%;
    height: auto;
  }
}
